.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: end;
}

.bg-light-green{
    background-color: rgb(26, 188, 156);
}


.max-250{
    max-width: 250px;
}

.linea{
    height: 2px;
    background-color: white;
    width: 20%;
    padding: 0 10px 0 10px;
    max-width: 300px;
}
.linea-black{
    height: 2px;
    background-color: black;
    width: 20%;
    padding: 0 10px 0 10px;
    max-width: 300px;
}
